<div id="intro-statement">
  <h1 id="lead">A hub for animal testing alternatives</h1>

  <p id="description">Students, professors, researchers, doctors, pharmacists, veterinarians, and anyone interested in
    education, industry, military, tax funded institutes, private labs and any animal relating facilities can gather and
    share information to develop alternatives to animal testing around the world.</p>
</div>

<section id="further-description">
  <div class="added-message">
    <img src="assets/education.png" alt="Education">
    <p>We create a humane curriculum for medical, pharmaceutical, bio, veterinarian education by offering the
      alternatives to animal testing.</p>
  </div>
  <div class="added-message">
    <img src="assets/lab-equipment.png" alt="Science">
    <p>We develop alternatives to animal testing in the lab with computer sensor, simulator, and artificial
      intelligence.</p>
  </div>
  <div class="added-message">
    <img src="assets/earth-grid.png" alt="Global Effort">
    <p>Government agencies in the USA, France, Germany, China and Russia cooperate for alternatives to animal
      testing development. The industries make the standard for animal testing alternatives.</p>
  </div>
  <div class="added-message">
    <img src="assets/data-collection.png" alt="Data Archive">
    <p>We re-discover past data to prevent repeat tests. We input
      the information here, so we don't harm animals anymore.</p>
  </div>
</section>